@media all and (max-width: 1530px) {
  .left_site_menu ul li a {
    font-size: 23px !important;
    margin-bottom: 25px !important;
  }
  .left_site_social ul li a img {
    width: 30px !important;
  }
}

@media all and (min-width: 1200px) {
  /*.left_site_main {
		display: block !important;
	}*/
}

@media all and (max-width: 1199px) {
  .left_site_main {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 260px !important;
    /* height: 100%!important; */
    z-index: 999 !important;
    background: url(../images/background.jpg) !important;
    /* display: none!important; */
  }
  .right_site_main {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    padding: 20px 10px 80px 10px !important;
  }
  .frontpage_main {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .right_site_exchange_single {
    width: 235px !important;
  }
  .right_site_tokenbridge_left {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 49.5% !important;
    flex: 0 0 49.5% !important;
  }
  .right_site_tokenbridge_right {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 49.5% !important;
    flex: 0 0 49.5% !important;
  }
  .rslockboxs {
    width: 235px !important;
  }
  .mobile_menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
    margin-bottom: 40px !important;
    padding-right: 50px !important;
  }
  .htbwhitelisted_contents p,
  .htbwhitelisted_title p {
    font-size: 20px !important;
  }
  .locked_staking_box_title h1 {
    color: #ff1212 !important;
    font-size: 50px !important;
  }
  .frontpage_main {
    height: 100vh !important;
  }
  .frontpage_right_site_top {
    padding-top: 80px !important;
  }
  .mobile_menu {
    top: 30px !important;
    right: 1px !important;
  }
  .nft_staking_contents p {
    margin-top: 110px !important;
    font-size: 45px !important;
  }
  .nft_staking_img img {
    max-width: 90% !important;
  }
  .margin_trade_img img {
    padding-right: 10px !important;
  }
  .swap_and_lp_content_single {
    max-width: 230px !important;
  }
  .nft_minting_cleft {
    padding-right: 0px !important;
  }
  .nft_minting_main {
    padding: 30px 30px 20px 30px !important;
  }
}

@media all and (max-width: 991px) {
  .right_site_lock {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  .rslockboxs {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 49% !important;
    flex: 0 0 49% !important;
  }
  .right_site_exchange_single {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 49% !important;
    flex: 0 0 49% !important;
  }
  .right_site_metaverse {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  h2 {
    font-size: 48px !important;
  }
  .right_site_title_text p {
    color: #fff !important;
    font-size: 14px !important;
  }
  .right_site_title_contents_boxs_all ul li {
    font-size: 16px !important;
    margin-bottom: 6px !important;
  }
  .right_site_title_contents_single p {
    font-size: 18px !important;
  }
  h3 {
    font-size: 26px !important;
  }
  .right_site_self_maining_middle ul li {
    font-size: 14px !important;
  }
  .border_style {
    border: 3px solid #f2994a !important;
  }
  .right_site_self_maining_btns a {
    padding: 4px 0px !important;
    font-size: 12px !important;
  }
  .right_site_self_maining_btns a:first-child {
    font-size: 20px !important;
  }
  .rscslbtn a {
    border: 3px solid #f2994a !important;
    font-size: 17px !important;
  }
  .rstrc_title2 h5 {
    margin-top: 10px !important;
  }
  .rsmet_bs a {
    border: 3px solid #f2994a !important;
  }
  .right_site_metaverse_right a {
    border: 3px solid #f2994a !important;
  }
  .right_site_download_app p {
    margin-top: 40px !important;
    font-size: 25px !important;
    line-height: 35px !important;
  }
  .right_site_main {
    padding: 20px 10px 60px 10px !important;
  }
  .rsmr_left p {
    font-size: 19px !important;
  }
  .rssmm_f ul {
    padding-right: 10px !important;
  }
  .mobile_menu {
    margin-bottom: 35px !important;
    padding-right: 30px !important;
  }
  .fprs_fairlaunch_title h3 {
    font-size: 33px !important;
    margin-top: 50px !important;
  }
  .fprs_fairlaunch_contents p {
    font-size: 20px !important;
    margin-top: 20px !important;
  }
  .fprs_fairlaunch_contents p span {
    font-size: 30px !important;
  }
  .fprs_fairlaunch_btns a {
    font-size: 16px !important;
    border: 3px solid #f2994a !important;
    padding: 9px 5px 7px 5px !important;
  }
  .fprs_fairlaunch_btns {
    max-width: 90% !important;
    margin-top: 110px !important;
    margin-bottom: 110px !important;
  }
  .htbwhitelisted_contents p,
  .htbwhitelisted_title p {
    font-size: 16px !important;
  }
  .htbwhitelisted_btns {
    max-width: 100% !important;
    margin-top: 40px !important;
  }
  .htbwhitelisted {
    margin: 120px 0px 120px 0px !important;
  }
  .htbwhitelisted_contents_lp {
    margin-top: 90px !important;
  }
  .htbwhitelisted_title h4 {
    color: #fd3d3d !important;
    font-size: 24px !important;
    margin-top: 30px !important;
  }
  .locked_staking_title h2 {
    color: #ff1212 !important;
    font-size: 40px !important;
  }
  .locked_staking_title {
    margin: 60px 0px 0px 0px !important;
  }
  .locked_staking_title p {
    font-size: 25px !important;
    margin-top: 25px !important;
  }
  .locked_staking_box_title h1 {
    font-size: 40px !important;
  }
  .self_mining_boxs_all {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .nft_minting_contents {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .nft_minting_cright {
    margin-top: 30px !important;
  }
  .nft_minting_main_title h3 {
    font-size: 30px !important;
  }
  .nft_minting_cleft_title p {
    font-size: 25px !important;
  }
  .left_site_tabs button,
  .left_site_tabs a {
    font-size: 16px !important;
    /* margin-bottom: 20px !important; */
  }
  .left_site_main {
    padding: 70px 20px 120px 20px !important;
  }
  .left_site_hide_btn a i {
    font-size: 20px !important;
  }
  .left_site_social {
    padding-top: 200px !important;
  }
  .nft_staking_btns {
    max-width: 100% !important;
    margin-top: 90px !important;
  }
  .nft_staking_btns a {
    font-size: 25px !important;
  }
  .nft_staking_contents p {
    margin-top: 90px !important;
    font-size: 35px !important;
  }
  .margin_trade_box {
    max-width: 280px !important;
    padding: 0px 20px 30px 20px !important;
  }
  .margin_trade_box h3 {
    font-size: 25px !important;
  }
  .margin_trade_box2 h3 {
    margin: 60px 0px !important;
  }
  .margin_trade_btn {
    margin-top: 0px !important;
  }
  .crosschain_swap_img img {
    max-width: 420px !important;
  }
  .crosschain_swap_img {
    max-width: 420px !important;
  }
  .orderbook_exchange_title h1 {
    font-size: 50px !important;
    margin: 70px 0px 0px 0px !important;
  }
  .orderbook_exchangesb_title p {
    font-size: 30px !important;
    margin-bottom: 10px !important;
  }
  .orderbook_exchangesb_title p span {
    font-size: 25px !important;
    padding-left: 15px !important;
  }
  .orderbook_exchangesbcons_left img {
    padding-right: 20px !important;
  }
  .orderbook_exchange_single_box {
    margin-top: 70px !important;
  }
  .nft_market_single_box_title h1 {
    font-size: 52px !important;
  }
  .nft_marketsbcon_img a img {
    max-width: 450px !important;
  }
  .nft_marketsbcon_img2 img {
    max-width: 350px !important;
  }
  .swap_and_lp_title h1 {
    color: #fff !important;
    text-align: center !important;
  }
  .swap_and_lp_title h1 {
    font-size: 55px !important !important;
  }
  .swap_and_lp_content_single {
    max-width: 280px !important;
  }
  .swap_and_lp_contents_all {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }
  .tgconlcon h3 {
    font-size: 20px !important;
  }
  .token_gated_content_title a {
    font-size: 25px !important;
    padding: 4px 25px 0px 25px !important;
    line-height: 32px !important;
  }
}

@media all and (max-width: 767px) {
  .nav-child span a {
    font-size: 11px !important;
  }

  .locked_staking_box_title p:nth-child(1) {
    margin-right: 0;
  }

  .locked_staking_box_title p:nth-child(2) {
    margin-right: 0;
  }

  h2 {
    font-size: 35px !important;
  }
  .right_site_title_text p {
    color: #fff !important;
    font-size: 11px !important;
  }
  .right_site_title_contents_boxs_all ul li {
    font-size: 14px !important;
    margin-bottom: 6px !important;
  }
  .right_site_title_contents_single p {
    font-size: 26px !important;
  }
  h3 {
    font-size: 18px !important;
  }
  .right_site_self_maining_middle ul li {
    font-size: 12px !important;
  }
  .right_site_self_maining_middle img {
    width: 180px !important;
  }
  .right_site_self_maining_btns a:first-child {
    font-size: 15px !important;
  }
  .right_site_self_maining_btns a {
    font-size: 9px !important;
  }
  .right_site_exchange_single p {
    font-size: 11px !important;
  }
  .right_site_exchange_single h5 {
    font-size: 16px !important;
  }
  .right_site_exchange_single h4 {
    font-size: 23px !important;
  }
  .right_site_tokenbridge {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .rsmr_left p {
    font-size: 15px !important;
  }
  .right_site_metaverse_right a {
    width: 160px !important;
    padding: 7px !important;
    font-size: 17px !important;
  }
  .rsmet_bs a {
    font-size: 18px !important;
    width: 160px !important;
    padding: 7px !important;
  }
  .rslobox {
    height: 300px !important;
  }
  .right_site_download_app p {
    margin-top: 35px !important;
    font-size: 20px !important;
    line-height: 30px !important;
  }
  .right_site_main {
    padding: 20px 10px 45px 10px !important;
  }
  .left_site_menu ul li a {
    font-size: 18px !important;
    margin-bottom: 20px !important;
  }
  .left_site_main {
    width: 220px !important;
  }
  .right_site_self_maining {
    margin-top: 45px !important;
  }
  .fprs_fairlaunch_btns a {
    font-size: 15px !important;
    text-align: center !important;
  }
  .htbwhitelisted_btns a {
    font-size: 10px !important;
  }
  .self_mining_page {
    padding: 20px 20px !important;
  }
  .self_mining_btns a:nth-child(1) {
    margin-right: 10px !important;
  }
  .locked_staking_mainbox {
    margin: 100px 0px 0px 0px !important;
  }
  .locked_staking_box_title h1 {
    font-size: 30px !important;
  }
  .locked_staking_box_title p {
    color: #fff !important;
    margin-right: 10px !important !important;
  }
  .locked_staking_box {
    padding: 25px 30px 15px 30px !important;
  }
  .locked_staking_box_contents ul li {
    font-size: 16px !important;
  }
  .locked_staking_box_amount p {
    font-size: 14px !important;
  }
  .locked_staking_box_amount_input input {
    padding: 7px !important;
    max-width: 230px !important;
    margin-top: 7px !important;
  }
  .locked_staking_box_btns a {
    width: 140px !important;
    height: 40px !important;
    font-size: 18px !important;
  }
  .locked_staking_title p {
    font-size: 19px !important;
    margin-top: 20px !important;
  }
  .locked_staking_title h2 {
    font-size: 33px !important;
  }
  h1 {
    font-size: 45px !important !important;
  }
  .self_mining_premium_rigs p {
    border: 4px solid rgba(0, 0, 0, 0.56) !important;
    padding: 10px !important;
    font-size: 15px !important;
  }
  .nft_minting_contents {
    margin-top: 20px !important;
  }
  .nft_minting_main {
    padding: 20px 20px 15px 20px !important;
  }
  .nft_minting_cleft_middle {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .mftmcmbtns1 {
    padding-top: 0px !important;
  }
  .nft_minting_cleft_middle_btns {
    margin-top: 20px !important;
  }
  .nft_minting_cright {
    margin-top: 50px !important;
  }
  .nft_minting_cab_contents p {
    font-size: 16px !important;
  }
  .nft_minting_cright_contents p {
    font-size: 16px !important;
  }
  .nft_minting_cright_contents p:nth-child(2) {
    font-size: 19px !important;
    margin-top: 15px !important;
  }
  .nft_minting_main {
    margin-top: 50px !important;
  }
  .left_site_tabs button,
  .left_site_tabs a {
    font-size: 14px !important;
    /* margin-bottom: 20px !important; */
  }
  .nft_text {
    font-size: 14px;
  }
  .mobile_menu a i {
    font-size: 20px !important;
    padding: 3px !important;
    width: 30px !important;
    height: 27px !important;
  }
  .left_site_social {
    padding-top: 150px !important;
  }
  .left_site_menu ul li:last-child a,
  .left_site_tabs button:last-child {
    margin-top: 45px !important;
  }
  .lstabs_dropdown {
    font-size: 13px !important;
  }
  .nft_staking_btns a {
    font-size: 20px !important;
  }
  .margin_trade_title h1 {
    margin: 70px 0px 80px 0px !important;
  }
  .margin_trade_img img {
    padding-right: 0px !important;
  }
  .margin_trade_image_and_box {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .margin_trade_img {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .margin_trade_img img {
    max-width: 90% !important;
  }
  .margin_trade_box {
    margin-top: 40px !important;
  }
  .arb_opportunity_contents {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }
  .arb_opportunity_title h1 {
    font-size: 28px !important !important;
    margin: 55px 0px 55px 0px !important;
  }
  .orderbook_exchange_title h1 {
    font-size: 38px !important !important;
  }
  .orderbook_exchangesb_title p {
    font-size: 25px !important;
  }
  .orderbook_exchangesbcons_right {
    margin-top: 0px !important;
  }
  .orderbook_exchangesb_title p span {
    font-size: 20px !important;
  }
  .nft_market_single_box_title h1 {
    font-size: 40px !important !important;
    margin-bottom: 15px !important;
  }
  .nft_marketsbcon_img a img {
    max-width: 350px !important;
  }
  .nft_marketsbcon_img p {
    font-size: 20px !important;
  }
  .nft_market_single_box {
    margin-top: 70px !important;
  }
  .swap_and_lp_title h1 {
    font-size: 45px !important !important;
  }
  .swap_and_lp_page2 {
    padding-bottom: 30px !important;
  }
  .swap_and_lp_page_last_contents {
    margin: 80px 0px 50px 0px !important;
  }
  .token_gated_content_title a {
    font-size: 20px !important;
    line-height: 28px !important;
  }
}

@media all and (max-width: 575px) {
  .nft_staking_btns {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .nft_staking_btns a:last-child {
    margin-top: 10px !important;
  }
  .margin_trade_btn {
    margin-top: 0px !important;
  }
  .margin_trade_box {
    max-width: 300px !important;
  }
  .arb_opportunity_title h1 {
    font-size: 25px !important !important;
  }
  .arb_opportunity_contents {
    margin-bottom: 60px !important;
  }
  .arb_opportunity_single {
    margin-bottom: 50px !important;
  }
  .arpopptitle p {
    font-size: 20px !important;
  }
  .arboppbox p {
    width: 130px !important;
    height: 60px !important;
    font-size: 20px !important;
    margin: 7px 0px 12px 0px !important;
  }
  .arboppbtn a {
    padding: 8px 15px !important;
    border-radius: 7px !important;
    font-size: 9px !important;
  }
  .orderbook_exchange_title h1 {
    font-size: 35px !important !important;
  }
  .orderbook_exchangesb_title p {
    font-size: 20px !important;
  }
  .orderbook_exchangesb_title p span {
    font-size: 15px !important;
  }
  .orderbook_exchangesb_contents {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .orderbook_exchangesbcons_left {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .orderbook_exchangesbcons_left img {
    padding-right: 0px !important;
    margin-bottom: 25px !important;
    width: 90% !important;
  }
  .orderbook_exchange_page {
    padding-bottom: 30px !important;
  }
  .nft_market_single_box_title h1 {
    font-size: 30px !important !important;
  }
  .tgconlcon h3 {
    font-size: 16px !important;
  }
  .token_gated_content_title h1 {
    font-size: 35px !important !important;
  }
}

@media all and (max-width: 450px) {
  h2 {
    font-size: 26px !important;
  }
  .right_site_title_text p {
    color: #fff !important;
    font-size: 10px !important;
  }
  .right_site_title_contents_boxs_all {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  .right_site_title_contents_boxs_all ul {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 50% !important;
    flex: 0 0 50% !important;
    text-align: center !important;
    margin-bottom: 15px !important;
  }
  .right_site_title_contents_boxs_all ul li {
    font-size: 14px !important;
    margin-bottom: 3px !important;
  }
  .right_site_title_contents_single p {
    font-size: 18px !important;
  }
  .right_site_title_contents {
    margin-top: 10px !important;
  }
  .mobile_menu {
    margin-bottom: 30px !important;
    padding-right: 10px !important;
  }
  .left_site_menu ul li:first-child a {
    margin-bottom: 45px !important;
  }
  .left_site_menu ul li a {
    font-size: 14px !important;
    margin-bottom: 15px !important;
  }
  .left_site_main {
    width: 160px !important;
  }
  h3 {
    font-size: 13px !important;
  }
  .rssmm_f {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .right_site_self_maining_middle img {
    width: 200px !important;
    margin-top: 15px !important;
  }
  .right_site_self_maining_btns a:first-child {
    font-size: 12px !important;
  }
  .right_site_self_maining_btns a {
    font-size: 7px !important;
  }
  .right_site_exchange_single {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
  }
  .right_site_exchange_single p {
    font-size: 11px !important;
    margin: 10px 0px !important;
  }
  .right_site_exchange_single1st p:last-child {
    margin-top: 5px !important;
  }
  .right_site_exchange_single h4 {
    font-size: 23px !important;
    margin-bottom: 15px !important;
  }
  .right_site_exchange_single.rscslbtn.rscslbtn2.border_style {
    height: 140px !important;
  }
  .rscslbtn a {
    border: 3px solid #f2994a !important;
    font-size: 19px !important;
  }
  .right_site_exchange_single {
    width: 100% !important;
  }
  .right_site_metaverse_right {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 74.5% !important;
    flex: 0 0 74.5% !important;
    margin-top: 10px !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
    padding: 10px !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .fsmr_right img {
    margin-top: 15px !important;
  }
  .rslockboxs {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
  }
  .right_site_self_maining {
    margin-top: 35px !important;
  }
  .left_site_social ul li a img {
    width: 21px !important;
  }
  .fprs_fairlaunch_btns {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .fprs_fairlaunch_btns a:first-child {
    margin-bottom: 10px !important;
    display: inline-block !important;
  }
  .fprs_fairlaunch_btns a {
    text-align: center !important;
  }
  .fprs_fairlaunch_btns {
    margin-top: 80px !important;
    margin-bottom: 80px !important;
  }
  .htbwhitelisted {
    margin: 70px 0px 100px 0px !important;
  }
  .htbwhitelisted_btns a {
    font-size: 15px !important;
  }
  .htbwhitelisted_contents p,
  .htbwhitelisted_title p {
    font-size: 13px !important;
  }
  .htbwhitelisted_title h4 {
    font-size: 20px !important;
    margin-top: 20px !important;
  }
  .htbwhitelisted_contents_flex2 {
    margin-bottom: 35px !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    margin-top: 20px !important;
  }
  .htbwhitelisted_contents_flex {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    margin-bottom: 15px !important;
  }
  .htbwhitelisted_contents_lp {
    margin-top: 60px !important;
  }
  .htbwhitelisted_btns {
    margin-top: 30px !important;
  }
  .htbwhitelisted_contents p,
  .htbwhitelisted_title p {
    font-size: 13px !important;
    margin-top: 5px !important;
  }
  .htbwhitelisted_contentsfp {
    margin: 20px 0px 15px 0px !important !important;
  }
  .self_mining_btns a:nth-child(1) {
    margin-right: 0px !important;
  }
  .lmclp {
    margin: 20px 0px !important;
  }
  .self_mining_btns {
    margin-top: 30px !important;
    margin-bottom: 0px !important;
  }
  .locked_staking_title h2 {
    font-size: 27px !important;
  }
  .locked_staking_title {
    margin: 45px 0px 0px 0px !important;
  }
  .locked_staking_title p {
    font-size: 15px !important;
  }
  .locked_staking_box_title h1 {
    font-size: 20px !important;
    margin-bottom: 5px !important;
  }
  .locked_staking_box_title p {
    font-size: 13px !important;
  }
  .locked_staking_box_contents {
    margin-top: 60px !important;
  }
  .locked_staking_box_amount {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .locked_staking_box_amount_input {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .locked_staking_mainbox {
    margin: 70px 0px 0px 0px !important;
  }
  .self_mining_box {
    margin-top: 60px !important;
  }
  .self_mining_single_box {
    margin-top: 8px !important;
  }
  .self_mining_box_title p {
    font-size: 16px !important;
  }
  .smsbc_left p {
    font-size: 30px !important;
    padding: 10px 25px !important;
  }
  .smsbc_right img {
    width: 100px !important;
  }
  .smsbc_right2 img {
    width: 125px !important;
  }
  .self_mining_single_box_title {
    padding: 10px 0px !important;
  }
  .self_mining_single_box_title p {
    max-width: 125px !important;
    font-size: 13px !important;
  }
  .self_mining_single_box_btns a {
    padding: 3px 8px !important;
    font-size: 12px !important;
  }
  .smsb_approve_left input {
    width: 180px !important;
  }
  .smsb_approve_right a {
    font-size: 12px !important;
  }
  .self_mining_premium_rigs {
    margin-top: 90px !important;
  }
  .self_mining_premium_rigs p {
    font-size: 12px !important;
  }
  h1 {
    font-size: 40px !important !important;
  }
  .self_mining_box {
    margin-top: 45px !important;
  }
  .left_site_main {
    width: 190px !important;
  }
  .lstabs_dropdown {
    font-size: 12px !important;
  }
  .nft_text {
    font-size: 12px;
  }
  .left_site_tabs button,
  .left_site_tabs a {
    font-size: 12px !important;
  }
  .logo_main {
    margin-bottom: 30px !important;
  }
  .nft_staking_title h1 {
    margin-top: 40px !important;
  }
  .nft_staking_img img {
    margin-top: 40px !important;
  }
  .nft_staking_img img {
    max-width: 95% !important;
  }
  .nft_staking_btns {
    margin-top: 60px !important;
  }
  .nft_staking_contents p {
    margin-top: 70px !important;
    font-size: 25px !important;
  }
  .margin_trade_img img {
    max-width: 95% !important;
  }
  .margin_trade_btn {
    margin-top: 0px !important;
  }
  .orderbook_exchange_title h1 {
    font-size: 30px !important !important;
  }
  .orderbook_exchangesbcons_left img {
    width: 96% !important;
    margin-bottom: 20px !important;
  }
  .orderbook_exchangesb_title p {
    font-size: 18px !important;
  }
  .orderbook_exchangesb_title p span {
    font-size: 13px !important;
  }
  .nft_market_single_box_title h1 {
    font-size: 26px !important !important;
  }
  .nft_market_single_box {
    margin-top: 55px !important;
  }
  .nft_marketsbcon_img a img {
    max-width: 285px !important;
  }
  .nft_marketsbcon_img2 img {
    margin: 20px 0px !important;
  }
  .swap_and_lp_title h1 {
    font-size: 38px !important !important;
  }
  .swap_and_lp_content_single_title p {
    font-size: 18px !important;
    max-width: 170px !important;
    line-height: 25px !important;
  }
  .swap_and_lp_content_single_title span {
    font-size: 18px !important;
  }
  .swap_and_lp_content_single_btn a {
    font-size: 20px !important;
    border-radius: 6px !important;
    margin-top: 20px !important;
    line-height: 30px !important;
  }
  .swap_and_lp_content_single_btn {
    max-width: 165px !important;
  }
  .swap_and_lp_content_single_title {
    margin-bottom: 7px !important;
  }
  .swap_and_lp_title {
    margin: 65px 0px 0px 0px !important;
  }
  .swap_and_lp_title2 {
    margin: 85px 0px 0px 0px !important;
  }
  .swap_and_lp_page_last_contents h3 {
    font-size: 20px !important;
  }
  .swap_and_lp_page_last_contents {
    margin: 70px 0px 50px 0px !important;
  }
  .tgconlcon h3 {
    font-size: 16px !important;
  }
  .token_gated_content_title a {
    font-size: 17px !important;
    line-height: 27px !important;
    padding: 3px 20px 0px 20px !important;
    border-radius: 7px !important;
  }
  .token_gated_content_title h1 {
    font-size: 33px !important !important;
  }
  .nft_minting_cleft_ml {
    width: 250px !important;
    margin-top: 55px !important;
  }
  .nft_minting_cleft_ml_add_remove input {
    width: 55% !important;
    font-size: 15px !important;
  }
  .frontpage_right_site_top {
    padding-top: 60px !important;
  }
  .nft_minting_cleft_bbtn a {
    margin-top: 50px !important;
  }
}
